<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pinwheel.platformsdk.demo">

    <application
        android:name="org.pinwheel.platformsdk.demo.App"
        android:icon="@mipmap/ic_launcher"
        android:label="platformsdk">

        <!--<activity android:name="org.pinwheel.platform.demo.ApiDemoActivity">-->
        <activity android:name="org.pinwheel.platformsdk.demo.ProxyDemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--(必要)微信回调-->
        <!--注意:singleInstance,exported,包名,类名-->
        <activity
            android:name="com.iflytek.ihou.chang.app.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />
        <!--(必要)微信回调-->

    </application>

</manifest>
