<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iflytek.ihou.chang.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name="com.iflytek.demo.App"
        android:icon="@mipmap/ic_launcher"
        android:label="OpenPlatform"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">

        <!--<activity android:name="com.iflytek.demo.DemoActivity">-->
        <activity android:name="com.iflytek.demo.DemoWrapperActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--(非必要)集成api封装调用-->
        <activity
            android:name="com.iflytek.platform.wrapper.PlatformProxy"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <!--(必要)微博认证-->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.iflytek.platform.channel.SinaWeiboShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--(必要)微博认证-->

        <!--(必要)腾讯认证-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100526240" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <!--(必要)腾讯认证-->

        <!--(必要)微信回调-->
        <!--注意:singleInstance,exported,包名,类名-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <!--(必要)微信回调-->

        <!--(必要)淘宝授权-->
        <activity
            android:name="com.iflytek.platform.channel.TaobaoAuthActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--(必要)淘宝授权-->

    </application>

</manifest>
